.chat {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.chat__button {
	display: block;
	background-color: #10bbd5;
	padding: 10px;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button__img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
