.footer {
	display: flex;
	justify-content: space-between;
	background-color: #4c394e;
	@extend %padding__a;
	.footer__copy {
		@extend %text;
		color: #fff;
	}

	.footer__text {
		@extend %text;
		color: #fff;
	}
}
