.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	max-width: 100%;
	@extend %margin__a;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 32px;
	border: 1px solid #a8a8a8;

	.card__features {
		display: flex;
		gap: 4px;
		position: absolute;

		.features--blue {
			@extend %badge;
			@extend %text;
			color: #fff;
			background-color: #4200ff;
		}

		.features--perple {
			@extend %badge;
			@extend %text;
			color: #fff;
			background-color: #ea33c0;
		}

		.features--pink {
			@extend %badge;
			@extend %text;
			color: #fff;
			background-color: #af39e7;
		}
	}

	.card-img {
		width: 75%;
		margin: 0 auto;
		text-align: center;
	}

	.card__desc {
		.desc__title {
			@extend %title;
		}

		.deck__text {
			@extend %text;
		}
	}

	.card__price {
		display: flex;
		gap: 24px;

		.card__price--current {
			@extend %current-price;
		}

		.card__price--old {
			@extend %old-price;
		}
	}

	.card__button--add {
		@extend %add__button;
		@extend %text;
		color: #fff;

		&:hover {
			background-color: #744978;
		}
	}

	.card__button--end {
		@extend %end-up__button;
		@extend %text;
		color: #fff;

		&:hover {
			background-color: #6db236;
		}
	}
}
