.header {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.section__aqva {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #10bbd5;
	padding: 16px 52px;

	.logo {
		display: flex;
		.logo__img {
			width: 100%;
		}
	}

	.purchase-info {
		display: flex;
		align-items: center;
		.balance {
			.balance__link {
				@extend %text;
				color: #fff;
			}
		}

		.cart {
			background-color: #10bbd5;
			padding: 0;
			border: none;
			cursor: pointer;
			.cart__img {
				width: 100%;
			}
		}
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 4px 52px;
	background-color: #fff;

	.menu__list {
		display: flex;
		align-items: center;
		gap: 40px;

		.menu__title {
			@extend %text;
			color: #000;
		}

		.menu__item-link {
			@extend %text;
			color: #000;
		}
	}
}
