// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
%padding {
	padding-left: 52px;
	padding-right: 52px;
}

%padding__a {
	padding: 16px 52px;
}

%margin {
	margin-left: 52px;
	margin-right: 52px;
}

%margin__a {
	margin: 16px 52px;
}

%badge {
	padding: 4px 8px;
	border-radius: 4px;
}

%text {
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	color: #8e8e8e;
}

%title {
	font-size: 20px;
	border-bottom: 1px solid #a8a8a8;
}

%current-price {
	font-size: 24px;
	color: #e90000;
}

%old-price {
	font-size: 24px;
	color: #8e8e8e;
	text-decoration: line-through;
}

%end-up__button {
	cursor: pointer;
	border-radius: 4px;
	border: none;
	padding: 8px 24px;
	background-color: #4d762d;
}

%add__button {
	cursor: pointer;
	border-radius: 4px;
	border: none;
	padding: 8px 24px;
	background-color: #4c394e;
}

@import 'reset.scss';
@import 'header.scss';
@import 'main-title.scss';
@import 'grid.scss';
@import 'footer.scss';
@import 'chat.scss';
